<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body style="padding:1cm">
<header>
    <a href="{{ url_for('first') }}">
        <img src="/static/img/nec-india.png.jpg" width="180"/>
        <h3 style="color: #061D85"><b>NEC OVS GUI V-0.1</b></h3>
    </a>
</header>
{% block content %}
{% endblock %}
<script src="/static/js/jsfun.js"></script>
<footer>
    <p id="foot"> Developed by anand.tyagi@nectechnologies.in ©2017</p>
</footer>
</body>

</html>