{% extends "base.html" %}

{% block content %}
    <h3>
        <ul class="tree">
            <li><a href="#!">ovs-ofctl</a>
                <ul>
                    <li><a href="#!">add flow</a>
                        <ul>
                            <li>
                                <p>
                                    <button onclick="myFunction()"> Check bridges</button>
                                </p>
                                <p id="demo"></p>
                                <form method="post" action="/ovs-ofctl/addflow">
                                    <p>Enter bridge: <input type="text" name="input_one"/></p>
                                    <p>Matching pattern:<input type="text" name="input_two"></p>
                                    <p>Enter flow: <input type="text" name="input_three"/></p>
                                    <p><input type="submit"/></p>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#!">add flows</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice C</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice D</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice E</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <p></p>
            <li><a href="#!">ovs-vsctl</a>

                <ul>
                    <li><a href="#!">choice A</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice B</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice C</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice D</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice E</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <p></p>

        </ul>
    </h3>
{% endblock %}

