{% extends "base.html" %}

{% block content %}
    <h3>
        <ul class="tree">
            <li><a href="#!">Add Flow</a>

                <ul>
                    <li><a href="#!">choice A</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a>
                                <ul>
                                    <li><a href="#">
                                        <form>
                                            Enter port:<input type="text"/>
                                            <input type="submit"/>
                                        </form>
                                    </a></li>
                                </ul>
                            </li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice B</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice C</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice D</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice E</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <p></p>
            <li><a href="#!">Delete Flow</a>

                <ul>
                    <li><a href="#!">choice A</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice B</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice C</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice D</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice E</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <p></p>
            <li><a href="#!">Dump Flow</a>
                <p></p>
                <ul>
                    <li><a href="#!">choice A</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice B</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice C</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice D</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">choice E</a>
                        <ul>
                            <li><a href="#">Sub-choice 1</a></li>
                            <li><a href="#">Sub-choice 2</a></li>
                            <li><a href="#">Sub-choice 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </h3>
{% endblock %}